<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Symfony!</title>
</head>
<body>
{% for cell in grid %}
            {% if cell.letter is null %}
                 X
            {% elseif cell.letter == '' %}
                _
            {% else %}
                {{ cell.letter }}
            {% endif %}

    {% if cell.coordinate.coordinateX == 20 %}
        <p></p>
    {% endif %}

{% endfor %}
</body>
</html>